In [1]:
# Import pandas
import pandas as pd

In [8]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', delim_whitespace = True)
df

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

In [11]:
# Compare the average income based on ethnicity
col_avg_ethnicity = df.groupby('Ethnicity')['Income'].mean()
print("Average income by Ethnicity", col_avg_ethnicity)

Average income by Ethnicity Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [13]:
# On average, do married or single people have a higher balance?

single_balance = df[df.Married == 'No'].loc[:,"Balance"].mean()
married_balance = df[df.Married == 'Yes'].loc[:,"Balance"].mean()
print("Single's avg balance",single_balance)
print("Married's avg balance",married_balance)

if single_balance > married_balance:
    print("Single's has higher average balance compare to Married")
else:
    print("Married has higher average balance compare to Single's")

Single's avg balance 13.493509015134242
Married's avg balance 13.388473477498913
Single's has higher average balance compare to Married

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).